/* Write your CSS here */
.app-container {
  height: 100vh;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .app-container {
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 600;
  color: #1e293b;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 56px;
  }
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comment-title {
  font-family: 'Roboto';
  font-size: 24px;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .comment-title {
    font-size: 36px;
  }
}

.input {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .input {
    margin-bottom: 36px;
  }
}

.add-button {
  font-family: 'Roboto';
  font-size: 14px;
  color: #cbd2d9;
  background-color: #0284c7;
  height: 26px;
  width: 150px;
  border-radius: 8px;
  border: 2px solid;
  margin-top: 20px;
  box-sizing: content-box;
  padding: 6px;
}

@media screen and (min-width: 768px) {
  .add-button {
    font-size: 18px;
    height: 30px;
    width: 160px;
    border-radius: 8px;
    border: 2px solid;
    margin-top: 30px;
  }
}

.count-of-comments {
  font-family: 'Roboto';
  font-size: 14px;
  color: #cbd2d9;
  background-color: #0284c7;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  box-sizing: content-box;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .count-of-comments {
    font-size: 18px;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
    box-sizing: content-box;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
  }
}

.comments-list {
    padding-left: 0px;
    margin-top: 0px;
}